body {background-color: aqua ;}

h2{font-family: verdana;
  font-size: 30px;}

span{font-family: verdana;
	font-size: 20px;
	background-color: white}

li{background-color: white}

p2{font-family: verdana;}