<!DOCTYPE html>
<html>
<body>

<link rel="stylesheet" type="text/css" href="../static/styles.css" />

<h2>Math Tutor</h2>

<p2> George Habash</p2>

<p>I need a mathtutor to help my son in 10th grade. He takes Algebra II and is currently failing. Need anyone good in math and teaching.</p>

<a href="https://mail.google.com/mail/u/0/#inbox/KtbxLxGvbxqqNkfdpgpGdrGmtcZgJcqpNB?compose=DmwnWrRrkqZkmgsXQdbBpqVLjDnjXJnbLXZztxbtfhQrtqfsqshBmzWMPNKdHkWGdGGHwZLkXcNB">"Click Here to Email Me"</a>

 

</body>
</html>
